.mesOrdonnancesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 0px;
  background-color: #ffffff9f;
}

.mesOrdonnancesTitle {
  color: #0e5686;
  font-size: 55px;
  font-weight: bold;
  align-self: center;
  margin-bottom: 20px;
}

.mesOrdonnancesTableContainer {
  height: calc(90% - 50px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: auto;
}
.mesOrdonnancesTableContainer::-webkit-scrollbar {
  width: 18px;
}

.mesOrdonnancesTableContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0e5686;
  border-radius: 10px;
  background: #ffffff;
}

.mesOrdonnancesTableContainer::-webkit-scrollbar-thumb {
  background: #0e5686;
  border-radius: 10px;
  border: solid 2px #ffffff;
}

.mesOrdonnancesTableContainer::-webkit-scrollbar-thumb:hover {
  background: #0e5686;
}
