.doctorsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 0px;
}

.doctorsTitle {
  color: #0e5686;
  font-size: 55px;
  font-weight: bold;
  align-self: center;
  margin-bottom: 20px;
}

.doctorsTableContainer {
  height: calc(80% - 50px);
}

.doctorsDeleteContainer {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.doctorsDeleteContainer button {
  height: 50px;
  width: 160px;
  font-size: 40px;
  background-color: #0e5686;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.doctorsDeleteContainer button:hover {
  background-color: #1369a3;
}
